
.DS_Store
*.iml
*.xml
.ipynb_checkpoints
Codes/test_plot_code_with_me.py
Codes/my_tests_qiskit.py
Codes/deprecated/my_tests_qiskit.py
Codes/deprecated/test_plot_code_with_me.py
*.pyc
Codes/Some stuff.nb
Codes/mis mierdas.ipynb
*.out
